       * {
           /* font-family: 'Kufam', sans-serif; */
           font-family: 'Cairo', sans-serif;

       }

       body {
           background-color: #398b79;
           background-repeat: no-repeat;
           background-size: cover;
           height: 120vh;
       }

       @media print {
           tr.vendorListHeading {
               background-color: #398b79 !important;
               -webkit-print-color-adjust: exact;
           }
       }

       #logo {
           font-size: 26px;
           font-weight: 200;

       }

       label {
           color: white;
       }

       input {
           width: 25px;
           height: 30px;
           background-color: aqua;
           border-radius: 20px;

       }

       input:active {
           color: #398b79;
           background-color: #398b79;

       }

       .coursesBox {
           border-radius: 20px;
       }

       .coursesBoxO {
           border-radius: 20px;

       }

       input[type="checkbox"] {
           width: 25px;
           height: 25px;

       }

       input[type=checkbox]:checked+label {
           text-decoration: line-through;
       }

       .cece {

           color: #c6cecc;
           border: none;
       }

       .cece:hover {
           color: #ffffff;
       }

       .cece:focus {
           border: none;
       }

       .cube-box {
           position: relative;
       }

       .cube-box::before {
           content: "";
           position: absolute;
           bottom: 0;
           border-bottom: #ffffff solid 1px;
           width: 60%;
           transition: 0.2s;
           -webkit-transition: 0.2s;
           -moz-transition: 0.2s;
           -ms-transition: 0.2s;
           -o-transition: 0.2s;
       }

       .cube-box:hover::before {
           content: "";
           position: absolute;
           bottom: 0;
           border-bottom: #ffffff solid 1px;
           width: 100%;
       }

       .coursesBox {
           transition: 0.5s;
           -webkit-transition: 0.5s;
           -moz-transition: 0.5s;
           -ms-transition: 0.5s;
           -o-transition: 0.5s;

       }

       .coursesBox:hover {
           transform: scale(1.07, 1.07);

       }

       .cleer {
           transition: 0.8s;
           -webkit-transition: 0.8s;
           -moz-transition: 0.8s;
           -ms-transition: 0.8s;
           -o-transition: 0.8s;
       }

       .cleer:hover {
           transform: rotateZ(280deg);
           -webkit-transform: rotateZ(280deg);
           -moz-transform: rotateZ(280deg);
           -ms-transform: rotateZ(280deg);
           -o-transform: rotateZ(280deg);
       }